<div class="mt-4">
    <form method="get" action="">
        <div class="form-group">
            <label for="search-input">Nhap tu khoa</label>
            <input type="text" name="fullname" class="form-control" id="search-input" placeholder="Ho va ten...">
        </div>
        <div class="form-group">
            <label for="search-input">Gioi tinh</label>
            <select name="gender" class="form-control" id="gender-input">
                <option value="">--chon gioi tinh--</option>
                <option value="male">Nam</option>
                <option value="female">Nu</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Save Data</button>
    </form>
</div>